<!-- Slide -->
<!-- TODO: i just wanted to pass the |count, but couldnt figure out how -->
{{ partial:partials/slider :images="slider_images" }}
    {{slider_images}}
        {{partial:partials/slider-item}}
            {{image}}
                {{partial:partials/hero}}
            {{/image}}
            <div class="absolute flex flex-col h-full inset-0 justify-center pl-12 w-1/2">
                <h2 class="text-xl font-bold">{{title}}</h2>
                <h3 class="hidden md:block text-2xl text-shadow tracking-wider">{{details}}</h3>
            </div>
        {{/partial:partials/slider-item}}
    {{/slider_images}}
{{ /partial:partials/slider}}

<!-- About us -->
<div class="wave-section py-56">
    <div class="flex items-center justify-center flex-col space-y-6 max-w-lg mx-auto text-center">
        <h3 class="uppercase tracking-widest text-gray-500">{{mobile_massage_subtitle}}</h3>
        <h2 class="text-3xl">{{mobile_massage_title}}</h2>
        <div class="text-gray-500 py-6">{{mobile_massage_content | classify}}</div>
        {{ partial:partials/link :url="mobile_massage_button_link"}}
            {{mobile_massage_button_text}}
        {{/partial:partials/link}}
    </div>
</div>

<!-- Services -->
<div class="mx-auto max-w-5xl py-12 bg-white">
    <div class="flex flex-col md:flex-row justify-between items-center p-4">
        <div class="max-w-md pb-8 text-2xl">
            {{our_services_content}}
        </div>
        <div>
            <!-- TODO: i cant get the value from "our_services_button_text" -->
            {{ partial:partials/link :url="our_services_button_link" }}
                {{our_services_button_text}}
            {{/partial:partials/link}}
        </div>
    </div>


    {{ collection:services as="service" }}
        {{partial:partials/services}}
    {{ /collection:services }}
</div>

<!-- Image section -->
<div class="w-full relative">
    {{first_image_section_image}}
        {{partial:partials/hero}}
            <div class="max-w-md h-full flex flex-col items-center justify-center space-y-4 text-center">
                <h2 class="text-xl">{{first_image_section_title}}</h2>
                <h3 class="uppercase font-bold text-2xl">{{first_image_section_subtitle}}</h3>
                {{partial:partials/link :url="first_image_section_button_link"}}
                    {{first_image_section_button_text}}
                {{/partial:partials/link}}
            </div>
        {{/partial:partials/hero}}
    {{/first_image_section_image}}
</div>

<!-- Therapists -->
<div class="mx-auto max-w-5xl text-center py-12  bg-white">
    <h2 class="text-2xl pb-8">Meet our therapists</h2>

    {{ collection:therapists as="therapist" limit="3" }}
        {{partial:partials/therapists}}
    {{ /collection:therapists }}
</div>
