<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ seo_pro:meta }}

        <title>Asian Room Massage</title>
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ mix src='/css/tailwind.css' }}">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

        <meta name="theme-color" content="#1a1a1a">
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/601ac4d9c31c9117cb757977/1etk92vkd';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9J2GW7WQZ5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-9J2GW7WQZ5');
        </script>
    </head>
    <body class="flex flex-col h-screen text-black antialiased bg-beige">
        <div class="flex-1">
            {{ partial:header }}

            <main>
                {{ template_content }}
            </main>
        </div>

        {{ partial:footer }}

        <script src="{{ mix src='/js/site.js' }}"></script>
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    </body>
</html>
