<ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
    {{ service scope="service" }}
        <li class="relative flex flex-col text-center transition-opacity opacity-90 hover:opacity-100">
            <a href="{{ url }}">
                {{image}}
                    <div class="box-image py-24" style="background-image: url({{glide:url width="330" height="220" }})">
                        <div class="absolute inset-0 w-full h-full bg-black opacity-40"></div>
                        <div class="absolute inset-0 w-full h-full flex items-center justify-center">
                            <h3
                                class="z-5 text-white text-shadow-lg tracking-widest uppercase"
                            >
                                {{ service:title }}
                            </h3>
                        </div>
                    </div>
                {{/image}}
            </a>
        </li>
    {{ /service }}
</ul>
