<div
    x-data="{size: 2, active: 0}"
    class="snap overflow-x-auto overflow-y-hidden relative flex-no-wrap flex transition-all max-h-96"
    x-ref="slider"
    x-init="setInterval(() => {
        active = Math.round((active + 1) % size);
        if (active === 0) {
            $refs.slider.scrollLeft = 0;
        } else {
            $refs.slider.scrollLeft = $refs.slider.scrollLeft + ($refs.slider.scrollWidth / size);
        }
    }, 5000);"
    x-on:scroll.debounce="active = Math.round($event.target.scrollLeft / ($event.target.scrollWidth / size))"
>
    {{ slot }}
</div>
