{{ collection:therapeutists as="therapeutist" }}
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-2 gap-y-2">
    {{ therapeutist }}
    <a href="{{ url }}" class="shadow">
        <img src="https://cataas.com/c" alt="{{ title }}"/>
        <div class="w-full flex items-baseline justify-between px-6 py-2 space-x-2">
            <span class="text-2xl">{{title}}</span>
            <span class="text-xs">{{nationality}}</span>
        </div>

    </a>
    {{ /therapeutist }}
</div>
{{ /collection:therapeutists }}

