<div class="max-h-96 overflow-y-hidden relative">
    <h1
        class="absolute inset-0 w-full h-full flex items-center justify-center text-3xl text-white tracking-wide uppercase"
    >
        {{title}}
    </h1>

    {{hero_image}} {{partial:partials/hero}} {{/hero_image}}
</div>

<div class="max-w-5xl mx-auto py-8 space-y-8">
    <div class="space-y-6 max-w-lg mx-auto text-center">
        {{intro | classify }}
    </div>

    {{ collection:services as="service" }}
        {{partial:partials/services}}
    {{/collection:services }}
</div>

<div class="flex items-center justify-center pb-8">
    {{ partial:partials/link url="/booking"}}Book now{{/partial:partials/link}}
</div>
