<div class="relative max-w-5xl mx-auto py-12 grid grid-cols-1 px-4 sm:px-0 sm:grid-cols-2 gap-x-12">
    {{ collection:services as="service" limit="4" }}
    <ul class="hidden sm:grid gap-6 grid-cols-2 items-center justify-center ">
        {{ service scope="service" }}
            <li class="relative flex flex-col text-center">
                {{ responsive:image ratio="1" }}
            </li>
        {{ /service }}
    </ul>
    {{ /collection:services }}


    {{ form:book_massage }}
        {{ if !success }}
            <div class="text-center pb-16 space-y-6">
                <h4 class="text-gray-700 uppercase">Welcome</h4>
                <h1 class="text-2xl">Fill out the form below or call {{ brand:phone_number }}</h1>
            </div>
            <div class="grid grid-cols-6 gap-6">
                {{ fields }}
                    <div class="{{type === "textarea" ? 'col-span-6' : 'col-span-6 sm:col-span-3'}}">

                        {{ component:form.group}}
                            <div class="flex justify-between">{{display}}</div>
                            {{ if type === "text" }}
                                {{ component:form.input id="{{handle}}" name="{{handle}}" value="{{ old ?? '' }}" }}
                            {{ elseif type === "textarea" }}
                                {{ component:form.textarea id="{{handle}}" name="{{handle}}" value="{{ old ?? '' }}" }}
                            {{ elseif type === "date" }}
                                {{ component:form.date id="{{handle}}" name="{{handle}}" value="{{ old ?? '' }}" }}
                            {{ elseif type === "time" }}
                                {{ component:form.time id="{{handle}}" name="{{handle}}" value="{{ old ?? '' }}" }}
                            {{ /if}}

                            <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                        {{ component:form.group }}
                    </div>
                {{ /fields }}
            </div>
            <div class="mt-6 flex space-x-2 justify-between">
                {{ component:button type="submit" }}Book{{/component:button}}
            </div>
        {{ /if }}

        {{ if success }}
            <div class="flex flex-col text-center items-center justify-center text-white">
                <h2 class="text-xl text-black font-bold">Thank you for contacting us.</h2>

                <div class="pt-4">
                    <p class="text-black">We will be in touch with you shortly.</p>
                    <p class="text-black">If you need immediate assistance call us at {{ brand:phone_number }}.</p>
                </div>
            </div>
        {{/if}}
    {{ /form:book_massage }}

</div>
