<div class="pb-12">
    <div class="max-h-96 overflow-y-hidden relative">
        {{hero_image}}
            {{partial:partials/hero}}
        {{/hero_image}}

        <h1 class="absolute inset-0 w-full h-full flex items-center justify-center text-3xl text-white tracking-wide uppercase">
            {{title}}
        </h1>
    </div>

    <div class="max-w-5xl mx-auto py-8 space-y-8">
        <div class="space-y-6 max-w-lg mx-auto text-center">
            {{intro | classify }}
        </div>

        {{ collection:therapists as="therapist" }}
            {{partial:partials/therapists}}
        {{ /collection:therapists }}
    </div>

    <div class="flex items-center justify-center pb-8">
        {{ partial:partials/link url="/booking"}}Book now{{/partial:partials/link}}
    </div>


    {{ collection:therapists as="therapist" }}
    <div
        class="py-12"
        data-flickity='{ "pageDots": false, "wrapAround": true, "lazyLoad": 2, "autoPlay": true }'
    >
        {{therapist scope="therapist"}}
            {{ images limit="2" }}
                 <a href="{{therapist:url}}" class="w-full md:w-2/5 px-2">{{responsive:url glide:height="400" }}</a>
            {{/images}}
        {{/therapist}}
    </div>
    {{ /collection:therapists }}
</div>
