<div>
    <div class="flex flex-col items-center py-12">
        <h2 class="title-with-lines text-3xl font-bold px-4">{{title}}</h2>
        <span>{{nationality}}, {{age}} years old</span>
        <span>${{hourly_rate}} up p/hr</span>
    </div>

    <div class="max-w-7xl mx-auto flex items-center justify-center flex-col md:flex-row">
        <div class="h-full flex-1 w-full md:w-auto">
            {{images limit="1"}}
                <div class="box-image py-64" style="background-image: url({{glide:url width="300" height="300" }})"></div>
            {{/images}}
        </div>
        <div class="wave-section bg-beige p-12 space-y-8 flex-1 h-full flex flex-col">
            <div class="space-y-3">
                <h3 class="text-center text-3xl tracking-wide">Massages</h3>
                <div class="text-center space-x-6">
                    {{massages}}
                    <a href="{{url}}">{{title}}</a>
                    {{/massages}}
                </div>
            </div>
            <div class="space-y-3">
                <h3 class="text-center text-3xl tracking-wide">Servings</h3>
                <div class="text-center space-x-6">
                    {{servings}}
                    <span>{{title}}</span>
                    {{/servings}}
                </div>
            </div>
        </div>
    </div>

    <div
        class="py-12"
        data-flickity='{ "pageDots": false, "wrapAround": true, "lazyLoad": 2, "autoPlay": true }'
    >
        {{images}}
        <div class="w-full md:w-2/5 px-2">{{responsive:url glide:height="400" }}</div>
        {{/images}}
    </div>

    <div class="flex items-center justify-center pb-8">
        {{ partial:partials/link url="/booking"}}Book now{{/partial:partials/link}}
    </div>
</div>
