<div class="max-h-96 overflow-y-hidden relative">
    <h1 class="absolute inset-0 w-full h-full flex items-center justify-center text-3xl text-white tracking-wide uppercase">
        {{title}}
    </h1>
    {{hero_image}}
        {{partial:partials/hero}}
    {{/hero_image}}
</div>

{{ collection:posts as="post" paginate="10" }}
    {{ if no_results }}
    <h2 class="text-3xl italic tracking-tight">
        Feel the rhythm! Feel the rhyme! Get on up, it's writing time! Cool writings!
    </h2>
    {{ /if }}

    <div class="max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none p-6">
        {{ post }}
            {{partial:partials/blog-card  }}
                {{ responsive:hero_image ratio="16/9" }}
            {{ /partial:partials/blog-card}}
        {{ /post }}
    </div>

    {{ paginate }}
        {{ if prev_page || next_page }}
        <div class="flex justify-between text-xl -mx-16 pt-16 font-bold">
            <a href="{{ prev_page }}" class="{{ ! prev_page ?= 'opacity-25' }}">
                &larr; Back to the future
            </a>
            <a href="{{ next_page }}">
                Forward to the past &rarr;
            </a>
        </div>
        {{ /if }}
    {{ /paginate }}
{{ /collection:posts }}
